* {
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

.bkg1 {
  background-image: url("./images/background/background1.jpg");
  background-size: cover !important;
  overflow: scroll;
}

.bkg2 {
  background-image: url("./images/background/background2.jpg");
  background-size: cover !important;
  overflow: scroll;
}

.bkg3 {
  background-image: url("./images/background/background3.jpg");
  background-size: cover !important;
  overflow: scroll;
}
