* {
  color: white;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  box-sizing: border-box;
}

.bkg-cartoon {
  background-image: url("./images/background/background-cartoon.jpeg");
  background-size: cover !important;
  overflow: hidden scroll;
}

.bkg1 {
  background-image: url("./images/background/background1.jpg");
  background-size: cover !important;
  overflow: hidden scroll;
}

.bkg2 {
  background-image: url("./images/background/background2.jpg");
  background-size: cover !important;
  overflow: hidden scroll;
}

.bkg3 {
  background-image: url("./images/background/background3.jpeg");
  background-size: cover !important;
  overflow: hidden scroll;
}
